/* body {
  background: url("./imgs/zoom.jpeg");
} */

html,
body,
#todayRecord {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.curr-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.content {
  display: flex;
  flex-direction: column;
}

.done {
  background-color: antiquewhite;
}

.container {
  margin-top: 50px;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
}

.user-name,
.information-GPS {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.user-name-form {
  display: inline-block;
}

.user-name-form .hiding {
  display: none;
}

.todo {
  background-color: antiquewhite;
}

.done .done-list,
.todo .todo-list {
  display: flex;
}

/* .todo :nth-child(3) {
  display: none;
}
.done :nth-child(2) {
  display: none;
} */

.done .done-list .action,
.todo .todo-list .action {
  width: 120px;
}
