/* body {
  background: url("./imgs/zoom.jpeg");
} */

#todayRecord {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.play {
  font-size: 15px;
}

.todo input {
  width: 16.5vw;
  height: 2vw;
  font-size: 1.8vw;
  text-align: center;
}

.del-btn {
  margin-left: 10px;
  font-size: 15px;
}

.move-btn {
  margin-right: 10px;
  font-size: 15px;
}

.bgImage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  width: 24.5vw;
  height: max-content;
}

.container {
  margin-top: 50px;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.user-name {
  font-size: 4em;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.information-GPS {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-right: 30%;
}

.curr-time {
  font-size: 40px;
  /* display: flex;
  flex-flow: row;
  justify-content: center; */
  text-align: center;
}

.today-time {
  font-size: 5em;
  text-align: center;
}

.curr-time,
.today-time {
  display: flex;
  flex-flow: row;
  flex-direction: column;
}

.user-name-form {
  display: inline-block;
}

.user-name-form .hiding {
  display: none;
}

.done .done-list,
.todo .todo-list {
  font-size: 25px;
  display: flex;
}

.information-GPS {
  margin-top: 50px;
  font-size: 25px;
}

.done .done-list .action,
.todo .todo-list .action {
  width: 10vw;
}
